<button mat-icon-button (click)="setLanguage('es')">
  <img src="../assets/img/spanish-language.png" alt="Español" width="30">
</button>
<button mat-icon-button (click)="setLanguage('en')">
  <img src="../assets/img/english-language.png" alt="English" width="30">
</button>
<div class="container-fluid contenedor">
  <mat-card class="card border border-dark mat-elevation-z8">
    <mat-card-header class="justify-content-center">
      <mat-card-title>
        <h1>{{config.title}}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <button mat-raised-button class="bg-dark text-white" style="margin-top: 20px;">
          Añadir desarrollador
          <mat-icon>
            add
          </mat-icon>
        </button>
      </div>
      <mat-form-field>
        <mat-label>{{config.filterPlaceHolder}}</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>

      <div>
        <mat-table [dataSource]="dataSource" matSort>

          <!-- moveName Column -->
          <ng-container matColumnDef="moveName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.headers.moveName}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.moveName}} </mat-cell>
          </ng-container>

          <!-- minDamage Column -->
          <ng-container matColumnDef="minDamage">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="columnaNumerica"> {{config.headers.minDamage}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="columnaNumerica"> {{row.minDamage}} </mat-cell>
          </ng-container>

          <!-- maxDamage Column -->
          <ng-container matColumnDef="maxDamage">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="columnaNumerica"> {{config.headers.maxDamage}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="columnaNumerica"> {{row.maxDamage}} </mat-cell>
          </ng-container>

          <!-- attack Column -->
          <ng-container matColumnDef="attack">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="columnaNumerica"> {{config.headers.attack}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="columnaNumerica"> {{row.attack}} </mat-cell>
          </ng-container>

          <!-- blood Column -->
          <ng-container matColumnDef="blood">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="columnaNumerica"> {{config.headers.blood}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="columnaNumerica"> {{row.blood}} </mat-cell>
          </ng-container>

          <!-- firstSkill Column -->
          <ng-container matColumnDef="firstSkill">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.headers.firstSkill}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstSkill}} </mat-cell>
          </ng-container>

          <!-- secondSkill Column -->
          <ng-container matColumnDef="secondSkill">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.headers.secondSkill}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.secondSkill}} </mat-cell>
          </ng-container>

          <!-- totalSkill Column -->
          <ng-container matColumnDef="totalSkill">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="columnaNumerica"> {{config.headers.totalSkill}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="columnaNumerica"> {{row.totalSkill}} </mat-cell>
          </ng-container>

          <!-- requiredPosition Column -->
          <ng-container matColumnDef="requiredPosition">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.headers.requiredPosition}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.requiredPosition}} </mat-cell>
          </ng-container>

          <!-- obtainedPosition Column -->
          <ng-container matColumnDef="obtainedPosition">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{config.headers.obtainedPosition}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.obtainedPosition}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>